@import '../../styles.css';

.Typography {
  font-family: var(--font-family);
  padding: var(--m-size);
  line-height: var(--2m-size);
}

.strikethrough {
  text-decoration: line-through;
}

.noGutter {
  margin: 0;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.bodySmall {
  font-size: var(--xs-size);
}